@charset "UTF-8";
/**
 * 
 * @authors alxe liu (liuyanbin@xueersi.com)
 * @date    2013-07-25 16:44:49
 * @version $Id$
 */
*html{
    _height: 100%;	
}
/*body{
	padding-top: 84px;
}*/
/*.bodyPad {padding-top: 100px;}*/
#header,#headerNew {
	width:100%;
	/*height:84px;
	background: url("http://img04.xesimg.com/ie_project/ie_head_bg.png")  left bottom repeat-x;
	 position: absolute;
	 left:0;
	 top:0; 
	 z-index: 100;*/
	 
}

 