      .MathJax_Display {
            display: inline !important;
            margin: 1em 0;
            max-height: none;
            max-width: none;
            min-height: 0;
            min-width: 0;
            position: relative;
            text-align: left;
            text-indent: 0;
            width: 100%;
        }
        /*ubb标签样式*/
        .test_blank{display:inline-block;border-bottom:1px solid;}
        .typo-em {
            display: inline-block;
            overflow: hidden;
            position: relative;
            top:5px;
            font-weight: inherit;
        }
        .typo-em::after {
            content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0.65em;
            width: 100%;
            font-weight: normal;
        }
        span.wave {
            background: url("./wave.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
            padding-bottom: 2px;
        }