@charset "UTF-8";
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 14:42:05
 * @version $Id$ 模版
 */
#container {background: url(../html/src/img/teacher.jpg) center top no-repeat;}
